package: com.fluffybunny.infiniloader(test)
Name: Infiniloader
Depends: winterboard
Version: 1.0
Architecture: iphoneos-arm
Description: A wonderful test theme.
Maintainer: Fluffybunny
Author: Fluffybunny
Section: Themes (Springboard)
